* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Univers', sans-serif;
}

body {
  background-color: lightgray;
}

li {
  list-style: none;
}

.fa-github {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
  color: black;
}

.fa-github:hover {
  color: blue
}

.fa-globe {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
  color: black;
}

.fa-globe:hover {
  color: blue
}

.Portfolio {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.top-bar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list-item {
  padding: 3px;
  margin-right: 12.25vw;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-top: 40px;
  margin-bottom: 90px;
  height: 100vh;
  width: 90vw;
}

.Header {
  font-size: 48px;
  font-weight: bold;
}

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: 40vw 40vw;
}

.project {
  width: 98%;
  margin-top: 4vh;
}

.project-img {
  height: 90%;
  width: 100%;
}

.about-me {
  width: 100%;
  display: grid;
  grid-template-columns: 22vw 58vw;
  margin-top: 10vh;
}

.img-me {
  height: 50vh;
  width: 21vw;
}

.about-me-text {
  padding-left: 8vw;
}

.Resume {
  width: 100%;
  display: grid;
  grid-template-columns: 40vw 40vw;
}

.Contact {
  width: 100%;
}

.bottom-bar {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-list {
  list-style-type: none;
  display: flex;
}

.footer-list-item {
  padding: 3px;
  margin-right: 20vw;
}