* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Univers', sans-serif;
}

body {
  background-color: lightgray;
}

.Portfolio {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list-item {
  padding: 3px;
  margin-right: 12.25vw;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 75px;
}

.Header {
  font-size: 48px;
  font-weight: bold;
}

.projects {
  width: 100%;
}

.project {
  width: 100%;
}

.project-img {
  height: 100px;
  width: 100px;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-list {
  list-style-type: none;
  display: flex;
}

.footer-list-item {
  padding: 3px;
  margin-right: 20vw;
}